In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

sale_price = pd.read_csv('data/Sale_Prices_Zip.csv')
pct_reduced = pd.read_csv('data/Zip_PctOfListingsWithPriceReductions_AllHomes.csv')
rent = pd.read_csv('data/Zip_Zri_AllHomes.csv')
price_to_rent = pd.read_csv('data/Zip_PriceToRentRatio_AllHomes.csv')
value = pd.read_csv('data/Zip_Zhvi_AllHomes.csv')

In [25]:
####Standarize states when necessary - from full names to 2 letter abbrevs. Change "StateNames" column headers to "State"

state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}


sale_price['StateName'].replace(state_abbrev, inplace=True)
sale_price.rename(columns={'StateName':'State'}, inplace=True)

In [26]:
####sale_price

sale_price['sale_price_avg_201409_201508'] = sale_price.loc[:, '2014-09':'2015-08'].mean(axis=1)
sale_price['sale_price_avg_201509_201608'] = sale_price.loc[:, '2015-09':'2016-08'].mean(axis=1)
sale_price['sale_price_avg_201609_201708'] = sale_price.loc[:, '2016-09':'2017-08'].mean(axis=1)
sale_price['sale_price_avg_201709_201808'] = sale_price.loc[:, '2017-09':'2018-08'].mean(axis=1)

sale_price['sale_price_yoy_gr_2014_2016'] = (sale_price.sale_price_avg_201509_201608 - sale_price.sale_price_avg_201409_201508) / sale_price.sale_price_avg_201409_201508
sale_price['sale_price_yoy_gr_2015_2017'] = (sale_price.sale_price_avg_201609_201708 - sale_price.sale_price_avg_201509_201608) / sale_price.sale_price_avg_201509_201608
sale_price['sale_price_yoy_gr_2016_2018'] = (sale_price.sale_price_avg_201709_201808 - sale_price.sale_price_avg_201609_201708) / sale_price.sale_price_avg_201609_201708

sale_price['sale_price_3yravg_yoy_gr_2014_2018'] = (sale_price.sale_price_yoy_gr_2014_2016 + sale_price.sale_price_yoy_gr_2015_2017 + sale_price.sale_price_yoy_gr_2016_2018) / 3

In [27]:
####pct_reduced

pct_reduced['pct_reduced_avg_201409_201508'] = pct_reduced.loc[:, '2014-09':'2015-08'].mean(axis=1)
pct_reduced['pct_reduced_avg_201509_201608'] = pct_reduced.loc[:, '2015-09':'2016-08'].mean(axis=1)
pct_reduced['pct_reduced_avg_201609_201708'] = pct_reduced.loc[:, '2016-09':'2017-08'].mean(axis=1)
pct_reduced['pct_reduced_avg_201709_201808'] = pct_reduced.loc[:, '2017-09':'2018-08'].mean(axis=1)

pct_reduced['pct_reduced_yoy_gr_2014_2016'] = (pct_reduced.pct_reduced_avg_201509_201608 - pct_reduced.pct_reduced_avg_201409_201508) / pct_reduced.pct_reduced_avg_201409_201508
pct_reduced['pct_reduced_yoy_gr_2015_2017'] = (pct_reduced.pct_reduced_avg_201609_201708 - pct_reduced.pct_reduced_avg_201509_201608) / pct_reduced.pct_reduced_avg_201509_201608
pct_reduced['pct_reduced_yoy_gr_2016_2018'] = (pct_reduced.pct_reduced_avg_201709_201808 - pct_reduced.pct_reduced_avg_201609_201708) / pct_reduced.pct_reduced_avg_201609_201708

pct_reduced['pct_reduced_3yravg_yoy_gr_2014_2018'] = (pct_reduced.pct_reduced_yoy_gr_2014_2016 + pct_reduced.pct_reduced_yoy_gr_2015_2017 + pct_reduced.pct_reduced_yoy_gr_2016_2018) / 3

In [28]:
####price_to_rent dataframe: only need to find 1yr avg and 3yr avg

price_to_rent['price_to_rent_avg_201509_201608'] = price_to_rent.loc[:, '2015-09':'2016-08'].mean(axis=1)
price_to_rent['price_to_rent_avg_201609_201708'] = price_to_rent.loc[:, '2016-09':'2017-08'].mean(axis=1)
price_to_rent['price_to_rent_avg_201709_201808'] = price_to_rent.loc[:, '2017-09':'2018-08'].mean(axis=1)

price_to_rent['price_to_rent_3yravg_2015_2018'] = (price_to_rent.price_to_rent_avg_201509_201608 + price_to_rent.price_to_rent_avg_201609_201708 + price_to_rent.price_to_rent_avg_201709_201808) / 3

In [30]:
####value

value['value_avg_201409_201508'] = value.loc[:, '2014-09':'2015-08'].mean(axis=1)
value['value_avg_201509_201608'] = value.loc[:, '2015-09':'2016-08'].mean(axis=1)
value['value_avg_201609_201708'] = value.loc[:, '2016-09':'2017-08'].mean(axis=1)
value['value_avg_201709_201808'] = value.loc[:, '2017-09':'2018-08'].mean(axis=1)

value['value_yoy_gr_2014_2016'] = (value.value_avg_201509_201608 - value.value_avg_201409_201508) / value.value_avg_201409_201508
value['value_yoy_gr_2015_2017'] = (value.value_avg_201609_201708 - value.value_avg_201509_201608) / value.value_avg_201509_201608
value['value_yoy_gr_2016_2018'] = (value.value_avg_201709_201808 - value.value_avg_201609_201708) / value.value_avg_201609_201708

value['value_3yravg_yoy_gr_2014_2018'] = (value.value_yoy_gr_2014_2016 + value.value_yoy_gr_2015_2017 + value.value_yoy_gr_2016_2018) / 3

In [31]:
####cut down GR dataframes to columns: RegionID, yoy_gr_2016_2018, and 3yravg_yoy_gr_2014_2018

sale_price = sale_price[['RegionID', 'sale_price_yoy_gr_2016_2018', 'sale_price_3yravg_yoy_gr_2014_2018']]
pct_reduced = pct_reduced[['RegionID', 'pct_reduced_yoy_gr_2016_2018', 'pct_reduced_3yravg_yoy_gr_2014_2018']]
price_to_rent = price_to_rent[['RegionID', 'price_to_rent_avg_201709_201808', 'price_to_rent_3yravg_2015_2018']]
value = value[['RegionID', 'value_yoy_gr_2016_2018', 'value_3yravg_yoy_gr_2014_2018']]

In [32]:
####rent

rent['rent_avg_201409_201508'] = rent.loc[:, '2014-09':'2015-08'].mean(axis=1)
rent['rent_avg_201509_201608'] = rent.loc[:, '2015-09':'2016-08'].mean(axis=1)
rent['rent_avg_201609_201708'] = rent.loc[:, '2016-09':'2017-08'].mean(axis=1)
rent['rent_avg_201709_201808'] = rent.loc[:, '2017-09':'2018-08'].mean(axis=1)

rent['rent_yoy_gr_2014_2016'] = (rent.rent_avg_201509_201608 - rent.rent_avg_201409_201508) / rent.rent_avg_201409_201508
rent['rent_yoy_gr_2015_2017'] = (rent.rent_avg_201609_201708 - rent.rent_avg_201509_201608) / rent.rent_avg_201509_201608
rent['rent_yoy_gr_2016_2018'] = (rent.rent_avg_201709_201808 - rent.rent_avg_201609_201708) / rent.rent_avg_201609_201708

rent['rent_3yravg_yoy_gr_2014_2018'] = (rent.rent_yoy_gr_2014_2016 + rent.rent_yoy_gr_2015_2017 + rent.rent_yoy_gr_2016_2018) / 3

In [33]:
####cut down rent dataframe to columns: RegionID, RegionName, State, SizeRank, rent_avg_201709_201808,
####rent_3yravg_2015_2018. This is the largest dataframe so it is first and contains all of the other columns

rent = rent[['RegionID', 'RegionName', 'State', 'SizeRank', 'rent_yoy_gr_2016_2018', 'rent_3yravg_yoy_gr_2014_2018']]

In [35]:
####Join all on RegionID

zillow = rent.merge(value, on='RegionID', how='inner').merge(price_to_rent, on='RegionID', how='inner').merge(pct_reduced, on='RegionID', how='inner').merge(sale_price, on='RegionID', how='inner')

In [36]:
zillow.info()

zillow.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3454 entries, 0 to 3453
Data columns (total 14 columns):
RegionID                               3454 non-null int64
RegionName                             3454 non-null int64
State                                  3454 non-null object
SizeRank                               3454 non-null int64
rent_yoy_gr_2016_2018                  3454 non-null float64
rent_3yravg_yoy_gr_2014_2018           3453 non-null float64
value_yoy_gr_2016_2018                 3454 non-null float64
value_3yravg_yoy_gr_2014_2018          3454 non-null float64
price_to_rent_avg_201709_201808        3454 non-null float64
price_to_rent_3yravg_2015_2018         3453 non-null float64
pct_reduced_yoy_gr_2016_2018           3454 non-null float64
pct_reduced_3yravg_yoy_gr_2014_2018    3454 non-null float64
sale_price_yoy_gr_2016_2018            3454 non-null float64
sale_price_3yravg_yoy_gr_2014_2018     3068 non-null float64
dtypes: float64(10), int64(3), object(1)
memory usage: 404.8+ KB

RegionID                                 0
RegionName                               0
State                                    0
SizeRank                                 0
rent_yoy_gr_2016_2018                    0
rent_3yravg_yoy_gr_2014_2018             1
value_yoy_gr_2016_2018                   0
value_3yravg_yoy_gr_2014_2018            0
price_to_rent_avg_201709_201808          0
price_to_rent_3yravg_2015_2018           1
pct_reduced_yoy_gr_2016_2018             0
pct_reduced_3yravg_yoy_gr_2014_2018      0
sale_price_yoy_gr_2016_2018              0
sale_price_3yravg_yoy_gr_2014_2018     386
dtype: int64

In [37]:
zillow.shape

(3454, 14)

In [38]:
####ptrg: price_to_rent needs to be joined with rent on RegionID to determine the 1yr and 3yr ptrg 
####ratios ('Price to Rental Growth').
####the ptrg_1yr is found by dividing price_to_rent_avg_201709_201808 by (rent_yoy_gr_2016_2018 * 100)
####the ptrg_3yr is found by dividing price_to_rent_avg_201709_201808 by (rent_3yravg_yoy_gr_2014_2018 * 100)

zillow['ptrg_1yr_201709_201808'] = zillow.price_to_rent_avg_201709_201808 / (zillow.rent_yoy_gr_2016_2018 * 100)
zillow['ptrg_3yr_2014_2018'] = zillow.price_to_rent_avg_201709_201808 / (zillow.rent_3yravg_yoy_gr_2014_2018 * 100)

In [39]:
zillow.shape

(3454, 16)

In [40]:
zillow = zillow.dropna()

In [41]:
zillow.shape

(3066, 16)

In [42]:
zillow.info()

zillow.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3066 entries, 0 to 3453
Data columns (total 16 columns):
RegionID                               3066 non-null int64
RegionName                             3066 non-null int64
State                                  3066 non-null object
SizeRank                               3066 non-null int64
rent_yoy_gr_2016_2018                  3066 non-null float64
rent_3yravg_yoy_gr_2014_2018           3066 non-null float64
value_yoy_gr_2016_2018                 3066 non-null float64
value_3yravg_yoy_gr_2014_2018          3066 non-null float64
price_to_rent_avg_201709_201808        3066 non-null float64
price_to_rent_3yravg_2015_2018         3066 non-null float64
pct_reduced_yoy_gr_2016_2018           3066 non-null float64
pct_reduced_3yravg_yoy_gr_2014_2018    3066 non-null float64
sale_price_yoy_gr_2016_2018            3066 non-null float64
sale_price_3yravg_yoy_gr_2014_2018     3066 non-null float64
ptrg_1yr_201709_201808                 3066 non-null float64
ptrg_3yr_2014_2018                     3066 non-null float64
dtypes: float64(12), int64(3), object(1)
memory usage: 407.2+ KB

RegionID                               0
RegionName                             0
State                                  0
SizeRank                               0
rent_yoy_gr_2016_2018                  0
rent_3yravg_yoy_gr_2014_2018           0
value_yoy_gr_2016_2018                 0
value_3yravg_yoy_gr_2014_2018          0
price_to_rent_avg_201709_201808        0
price_to_rent_3yravg_2015_2018         0
pct_reduced_yoy_gr_2016_2018           0
pct_reduced_3yravg_yoy_gr_2014_2018    0
sale_price_yoy_gr_2016_2018            0
sale_price_3yravg_yoy_gr_2014_2018     0
ptrg_1yr_201709_201808                 0
ptrg_3yr_2014_2018                     0
dtype: int64

In [43]:
zillow.to_csv('data/zillow_201808_current_calcs.csv', index = False)

In [44]:
zillow.describe().T

,count,mean,std,min,25%,50%,75%,max
RegionID,3066.0,8.734203e+04,45967.992052,58196.000000,70832.000000,82227.000000,95803.750000,7.380920e+05
RegionName,3066.0,5.503260e+04,31111.273421,1001.000000,30044.250000,55127.000000,85381.750000,9.922400e+04
SizeRank,3066.0,3.523220e+03,2362.344763,2.000000,1514.750000,3212.500000,5228.000000,1.037700e+04
rent_yoy_gr_2016_2018,3066.0,2.131993e-02,0.027422,-0.132818,0.004905,0.021095,0.037675,1.345813e-01
rent_3yravg_yoy_gr_2014_2018,3066.0,2.977617e-02,0.021834,-0.051177,0.014155,0.029642,0.044632,1.302033e-01
value_yoy_gr_2016_2018,3066.0,7.302886e-02,0.039132,-0.057848,0.048206,0.068455,0.092681,3.671295e-01
value_3yravg_yoy_gr_2014_2018,3066.0,7.486963e-02,0.036391,-0.017420,0.049254,0.069974,0.095792,2.618728e-01
price_to_rent_avg_201709_201808,3066.0,1.412270e+01,3.687151,5.170000,11.535000,13.335833,16.085417,3.981417e+01
price_to_rent_3yravg_2015_2018,3066.0,1.343602e+01,3.453701,4.678889,10.938958,12.736806,15.359444,3.526889e+01
pct_reduced_yoy_gr_2016_2018,3066.0,8.819084e-02,0.214925,-0.476415,-0.048164,0.047143,0.185793,1.552554e+00
pct_reduced_3yravg_yoy_gr_2014_2018,3066.0,9.597202e-03,0.080347,-0.286550,-0.043885,0.002848,0.051662,4.793533e-01
sale_price_yoy_gr_2016_2018,3066.0,7.854326e-02,0.056729,-0.179230,0.043555,0.078255,0.110998,3.706825e-01
sale_price_3yravg_yoy_gr_2014_2018,3066.0,7.264739e-02,0.040173,-0.063061,0.045868,0.069369,0.097081,3.589190e-01
ptrg_1yr_201709_201808,3066.0,inf,NaN,-4762.773600,2.169088,4.227342,7.981730,inf
ptrg_3yr_2014_2018,3066.0,-1.397141e+00,194.693103,-8273.331813,2.887756,4.214157,6.733804,1.967332e+03